/* footer */
.footer{
    width: 100%;
    height: auto;
    background-color: var(--box-bg-color);
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
}
.footer .credit1{
    width: 100%;
    height: auto;
    justify-content: center;
    display: flex;
}
.credit1 p{
    align-self: center;
    color: gray;
    font-family: sans-serif;

}
.footer .credit2{
    width: 100%;
    height: auto;
    padding: 2%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.credit2 p{
    align-self: center;
    color: gray;
    font-size: 0.5rem;
    margin: 0%;
    text-decoration: none;
    font-family: sans-serif;
}