:root {
    --primary:#228b22;
    --secondary: #123524;
    --solid_cyan:#AAF0D1;
    --solid_yellow:#AAF0D1;
    --solid_green:#A8E4A0;
    --solid_pink:#E18E96;
  }
.recipeItems{
    padding: 15px;
    
}
.card{
    box-shadow: 2px 2px 8px var(--secondary) , 2px 2px 8px var(--secondary);
    opacity: 0.9;
}

.card:hover{
    opacity: 1;
}
.card img{
    opacity: 0.8;
}
.card-img-overlay{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family:  Times;
}
.card-img-overlay h4{
    font-size: 2.2rem;
    text-shadow: 2px 2px 3px black;
    font-family: "Engagement", Times;
}
.card-img-overlay a{
    font-size: 1rem;
    text-shadow: 2px 2px 3px black;
    box-shadow: 2px 2px 5px var(--secondary);
}
.card-img-overlay p{
    
    text-shadow: 2px 2px 3px black;

}